.manage-user-container {
    .users-content{
        display: inline;
        .btn-add-user{
            margin-top: 20px;
        }
        .users-table{
            margin-top: 20px;
        }
    }
}

.modal-add-user{
    .img-preview{
        height: 150px;
        width: auto;
        object-fit: cover;
        align-items: center;
        justify-content: center;
        border: 1px dashed #ccc;
        border-radius: 5px;
        display: flex;
        margin: 0 auto;
        color: #ccc;
        
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .label-upload{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        border: none;
        border-radius: 5px;
        background-color: #eeeeee;
        gap: 5px;
        cursor: pointer;

        &:hover{
            background-color: #cccccc;
        }
    }
}